@media  screen and (max-width: 576px){
    .large-heading{
        display: none;
    }
    .main-cotnent p{
        font-size: smaller;
    }
    
}

@media  screen and (min-width: 576px){
    .small-heading{
        display: none;
    }
}