@import url(https://fonts.googleapis.com/css?family=Roboto:300);
.google-btn {
  margin: 0 auto;
  height: 42px;
  background-color: #4285f4;
  border-radius: 2px;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
  cursor: pointer;
  display: flex;
  align-items: center;
}
.google-btn .google-icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 41px;
  height: 41px;
  border-radius: 2px;
  background-color: #fff;
}
.google-btn .google-icon {
  width: 18px;
  height: 18px;
}
.google-btn .btn-text {
  color: #fff;
  font-size: 14px;
  letter-spacing: 0.2px;
  font-family: "Marcellus", serif;
}
.google-btn .btn-text-google {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 40px;
  align-items: center;
}
.google-btn:hover {
  box-shadow: 0 0 6px #2d5aa1;
  background-color: #326dcc;
}
/* .google-btn:active {
   background: #1669f2;
} */
