@import url("https://fonts.googleapis.com/css2?family=Marcellus&display=swap");
* {
  font-family: "Marcellus", serif;
}
.logos {
  color: gray;
  transition: 0.4s ease;
}
.content-section {
  margin-top: 50px;
  height: 350px;
  background-color: transparent;
  margin: 150px;
}
.filters {
  filter: grayscale(100%);
  transition: 0.4s all;
  height: 110px;
  width: 200px;
  padding: 7px;
  box-sizing: content-box;
  cursor: pointer;
}
/* .filter-google,
.filter-firebase {
  height: 80px !important;
} */
.php {
  width: 180px !important;
  height: 130px !important;
  padding: 1px 50px !important;
}
.filter-eth {
  height: 120px !important;
  margin-top: -16px;
}

.filter-ios{
  height: 70px;
  margin-top: 20px;
  filter: contrast(0);
}

.filter-java{
  height: 140px;
  margin-top: -10px;
}

.filter-net{
  height: 80px;
  margin-top: 10px;
}

.filters:hover {
  filter: grayscale(0%);
  transform: scale(1.1);
}

.logos:hover {
  filter: grayscale(0%);
}

h1,
h2,
h5 {
  font-family: "Marcellus" !important;
}
.our-partners {
  margin-top: 90px;
}

.contact-no {
  font-size: 34px;
  margin-left: 22px;
  font-family: "Marcellus" !important;
}
.contact-email {
  font-family: "Marcellus" !important;
}

/* media queries for responsiveness of testimonial section*/

@media (max-width: 768px) {
  .content-section {
    margin: 2px;
  }
  .testimonial-section {
    height: 570px;
    margin-top: 2%;
  }
  .testimonial {
    padding: 3px;
  }
  .consultation {
    margin-top: 5px;
    height: 225px;
    width: 90%;
    margin: 5px 20px;
    padding: 20px 15px;
  }
  .consultation-text {
    font-size: 38px;
    line-height: 56px;
    margin: 0px 27px;
  }
  .start-trial-div {
    margin-left: 28% !important;
    margin-top: 18px;
  }
  .testimonial-text {
    font-size: 30px;
    margin-left: 40px;
  }
  .testimonial h2 {
    margin-left: 30px;
  }
  .cardsrightcontent h4 {
    margin-top: 16px;
  }
  .quotes-icon {
    margin-left: -100px;
  }
}

@media (max-width: 768px) {
  .our-partners {
    margin-top: 40px;
  }
}

@media (max-width: 400px) {
  .footer-section {
    height: 890px;
  }
  .consultation-text {
    font-size: 36px;
  }
}
