* {
  margin: 0;
  padding: 0;
  /* font-family: "Lato", sans-serif; */
}
.navbar-main {
  background: transparent;
  position: fixed;
  width: 100%;
  z-index: 2;
}
.navbar-ul li a {
  color: #000 !important;
}
.navbar-ul li a:hover {
  color: #0ea29d !important;
}
.nav-logo {
  /* width: 170px;
  height: 50px;
  padding: 0; */
  width: 176px;
  height: 70px;
  padding: 0;
  position: absolute;
  margin-top: -20px;
  margin-left: 1%;
}
.home-div{
  margin-top: -60px ;
  width: 100%;
}
.home-main-div {
  height: 750px;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.301), rgba(0, 0, 0, 0.301)),
    url("../images/intro_slide_1.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 60px 0;
}
.home-left-div {
  margin-top: 170px;
  padding-left: 148px;
  padding-right: 10px;
}
.home-main-h1 {
  font-size: 36px;
  color: #ffffff;
  font-weight: lighter !important;
  text-align: left;
  line-height: 50px;
}
.home-main-p {
  font-size: 20px;
  color: #ffffff;
  text-align: left;
  margin-top: 25px;
  line-height: 40px;
}
.hero-main-btn {
  background-color: #0ea29d;
  color: #ffffff;
  /* font-weight: bold; */
  padding: 10px 30px;
}
.btn-div {
  text-align: left;
}
.contact-form {
  width: 70%;
  margin-top: 130px;
  margin-left: 10%;
  margin-right: auto;
  border: 1px solid white;
  border-radius: 4px;
  background-color: #eaeaea;
  padding: 20px;
  /* text-align: left; */
}
.about-div {
  margin-top: 100px;
  padding: 0px 34px;
}
/* .navbar-custom-list {
  display: flex;
} */
.feature-container{
  padding: 0px 20px;
}
.feature-card {
  border: none;
  text-align: left;
}
.feature-card h5 {
  font-weight: bold;
}
.feature-card-img {
  width: 55px;
  height: 55px;
}
.aboutImage {
  width: 100%;
  height: 100%;
}
.about-left-section {
  text-align: left;
}
.about-btn {
  border: none;
  padding: 5px;
  background-color: #f5f5f5;
  margin-left: 1px;
  width: 100%;
}
.about-btn:hover,
.about-btn-click {
  background-color: #ffffff;
  border: 1px solid #949494;
  border-bottom: none;
}
.about-div2 {
  background-color: #0ea29d;
  padding: 125px 125px 100px 125px;
  /* width: 100vw; */
  margin: 0px;
}
.about-div2-text {
  text-align: left;
  color: #ffffff;
  padding-left: 20px;
}
.about-div2-btn,
.footer-start-btn,
.contact-div1-btn {
  color: #ffffff;
  border: 2px solid #ffffff;
  background-color: #0ea29d;
  padding: 10px 30px;
  margin: 20px 10px;
  /* border-radius: 10px; */
  transition: all 1s linear;
}
.about-div2-btn:hover,
.footer-start-btn:hover,
.contact-div1-btn:hover {
  background-color: #084d4a;
  color: #ffffff;
}
.counter-main-div {
  height: 100%;
  width: 100%;
  background: url("../images/intro_slide_1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 70px 0;
  color: #ffffff;
}
.contact-div1 {
  background-color: #f5f5f5;
  padding: 70px 128px;
  text-align: left;
  margin: 0px;
}
.contact-div1 img {
  width: 100%;
  height: 100%;
}
.contact-div2 {
  background-color: #0ea29d;
  padding: 30px 70px;
  padding-left: 130px;
  color: #ffffff;
  margin: 0px;
  text-align: left;
}
.contact-div2-btn {
  margin-left: 20px;
  color: #ffffff;
  border: 2px solid #ffffff;
  background-color: #0ea29d;
  padding: 10px 30px;
  transition: all 1s linear;
}
.contact-div2-btn:hover {
  background-color: #084d4a;
  color: #ffffff;
}
.footer-div-main {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(#2695916b, #26959159),
    url("../images/footerBack.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 40px 12px;
  margin: 30px 0;
  position: relative;
}
.footer-row{
  width:100%;
}
.upArrowbtn {
  background-color: #0ea29d;
  width: 30px;
  height: 30px;
  text-align: center;
  justify-content: center;
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 5px 0;
  cursor: pointer;
  color: #ffffff;
  border: 1px solid #ffffff;
}
.upArrowbtn:hover {
  background-color: #084d4a;
  color: #ffffff;
}
.upArrowbtn a {
  text-decoration: none;
  color: #ffffff;
}
.promo-text{
  color:#ffffff;
  text-transform: uppercase;
  margin-top: 6%;
  letter-spacing: 1px;
}
.phone-leftside{
  padding-right: 108px;
  line-height: 35px;
}
.email-rightside{
    padding-left: 274px;
    line-height: 35px;
}
.remote-team-txt{
  font-weight: 900;
}


/* media queries starts here */

@media (min-width:1500px) and (max-width:1540px){
  .nav-logo{
    margin-left: 0%;
  }
  .contact-div2 h2{
    word-spacing: 0px;
    font-size: 28px;
    line-height: 40px;
  }
  .phone-leftside {
    padding-right: 150px;
  }
  .footer-div h2{
    word-spacing: 15px;
  }
  .lets-startedBtn{
    margin-left: 125px;
  }
  .email-input{
    padding-left: 100px;
  }
}


@media (min-width:1420px) and (max-width:1499px){
  .nav-logo{
    margin-left: 1%;
  }
}

@media (min-width:1399px) and (max-width:1420px){
  .nav-logo{
    margin-left:4%;
  }
  .about-div{
    padding: 0px 98px;
  }
  .card-body{
    padding: 0px 70px;
  }
  .navbar-collapse ul{
    margin-right: 8%;
  }
  .counter-main-div {
    padding: 70px 104px 70px 45px;
  }
  .home-main-div{
    height: 750px;
  }
  .email-rightside{
    padding-left: 200px;
  }
  .counter-main-div{
    padding: 70px 112px 70px 35px;
  }
  .footer-div h2{
    word-spacing: 10px;
  }
  .lets-startedBtn{
    margin-left: 90px;
  }
  .contact-div2 h2{
    word-spacing: 4px;
  }
  .phone-leftside {
    padding-right: 128px;
  }
}

@media (min-width:1320px) and (max-width:1398px){
  .nav-logo{
    margin-left: -2%;
  }
  .counter-main-div{
    padding: 70px 90px 70px 40px;
  }
  .lets-startedBtn{
    margin-left: 90px;
  }
  .contact-div2 h2{
    word-spacing: 1px;
  }
  .footer-div h2{
    word-spacing: 7px;
  }
  .contact-div1{
    padding: 70px 100px;
  }
  .about-div2 {
    padding: 125px 125px 100px 100px;
  }
  .about-div{
    padding: 0px 20px;
  }
  .card-body{
    padding: 0px;
  }
  .home-left-div {
    padding-left: 123px;
  }
}

@media (min-width:769px) and (max-width:1023px){
  .nav-logo{
    position: absolute;
    margin-left: -40px;
  }
  .home-left-div {
    margin-top: 120px;
    padding-left: 76px;
    padding-right: 20px;
  }
  .contact-form{
    width: 100%;
    margin-left: -20px;
  }
  .promo-text{
    font-size: 20px;
  }
  .about-div2{
    padding: 40px;
  }
  .contact-div1{
    padding: 40px;
  }
  .contact-div1 img {
    height: 76%;
  }
  .navbar-toggler{
    display: none;
  }
}

@media (max-width:768px){
  .nav-logo{
    position: relative;
    margin-left: -10px;
    margin-top: -8px;
  }
  .navbar-toggler {
    margin-left: 95px !important;
  }
  .home-main-div {
    height: 100%;
  }
  .home-left-div {
    margin-top: 30px;
    padding: 10px 40px;
  }
  .contact-form{
    width: 85%;
    margin:auto 11% !important;
  }
  .about-div2 {
    padding: 18px;
  }
  .contact-div1 {
    padding: 18px;
  }
  .about-div {
    margin-top: 0px;
  }
  .promo-text {
    padding: 0px 25px;
    letter-spacing: 2px;
    line-height: 35px;
  }
  .terms-text{
    font-size: 12px;
  }
  .about-left-section {
    padding: 0px 20px;
  }
  .about-left-section h4{
    text-align: center;
  }
  .navbar-collapse {
    align-items: center;
    margin-right: -224px;
  }
  .about-div2-btn{
    margin-left:16%;
  }
  .contact-div1-btn{
    margin-left: 25%;
  }
  .home-main-h1 {
    margin-top: 54px;
  }
  .feature-card-img {
    margin-left: 38%;
  }
  .feature-card h5 {
    text-align: center;
  }
  .feature-card-img {
    width: 60px;
    height: 60px;
  }
  .phone-leftside{
    padding-right: 0px;
    line-height: 35px;
  }
  .email-rightside{
    padding-left: 0px;
    line-height: 35px;
  }
}
